
<nav class="bg-white border-gray-200 px-2">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <a href="#" class="flex">
      <img class="h-10 mr-3" width="38" height="38" src="/img/formal_logo_black.png"/>
      <span class="self-center text-lg font-semibold whitespace-nowrap">團充大平台</span>
    </a>
    <%= react_component("NavBurger") %>
  </div>
</nav>
